/* Font Families */

@font-face {
  font-family: 'Amanojaku';
  src: url('../fonts/Amanojaku-Demo.otf') format('opentype');
}

@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope.ttf';
  src: url('../fonts/Manrope.ttf') format('truetype');
}

:root {
    /* Colors */
    --clr-primary-background: hsl(240, 3%, 8%);
    --clr-secondary-background: hsl(213, 15%, 11%);

    --clr-primary-text: hsl(0, 0%, 98%);
    --clr-secondary-text: hsl(213, 10%, 80%);
    --clr-accent-text: hsl(210, 60%, 65%);

    --clr-primary-btn: radial-gradient(ellipse at bottom, hsla(210, 19%, 20%, 1) 0%, hsla(210, 19%, 24%, 1) 100%);
    --clr-primary-btn-hover: radial-gradient(ellipse at bottom, hsla(210, 19%, 24%, 1) 0%, hsla(210, 19%, 28%, 1) 100%);
    

    --clr-secondary-btn: radial-gradient(ellipse at bottom, hsla(210, 21%, 70%, 1) 0%, hsla(210, 21%, 60%, 1) 100%);
    --clr-secondary-btn-hover: radial-gradient(ellipse at bottom, hsla(210, 21%, 80%, 1) 0%, hsla(210, 21%, 70%, 1) 100%);

    --clr-header-bg: hsla(225, 22%, 12%, 0.35);
    --clr-hero-bg: radial-gradient(ellipse at bottom, hsla(213, 31%, 16%, 1) 0%, hsla(220, 21%, 5%, 1) 100%);

    --clr-boxshadow-hover: hsla(210, 19%, 50%, 1);
    --clr-skills-bg: hsla(213, 31%, 16%, 1);
    --clr-border: hsla(0, 0%, 100%, 0.3);
    --clr-soft-border: hsla(0,0%,100%, 0.1);
    --clr-card-border-inactive: hsla(0,0%,100%, 0.2);
    --clr-card-border-active: hsla(0,0%,100%, 0.5);
    --clr-icon-hover: hsla(210, 19%, 20%, 1);

    --clr-btn-box-shadow: rgba(255,255,255,0.3);
    --clr-btn-box-shadow-hover: rgba(255,255,255,0.4);
    --clr-card-box-shadow-hover: rgba(255,255,255, 0.5);

    --clr-contact-bg: radial-gradient( circle at 0% 0%, hsla(240, 3%, 8%, 0.6), transparent);
    --clr-contact-form: hsla(213, 31%, 16%, 0.5);
    --clr-input-bg: hsla(0, 0%, 96%, 0.05);
    --clr-error: hsl(0, 65%, 35%);

    /* Text-sizes */
    --fs-100: clamp(0.6331rem, 0.6424rem + -0.0119vw, 0.64rem);
    --fs-200: clamp(0.8rem, 0.7847rem + 0.0765vw, 0.844rem);
    --fs-300: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
    --fs-400: clamp(1.25rem, 1.1632rem + 0.4341vw, 1.4996rem);
    --fs-500: clamp(1.5625rem, 1.4107rem + 0.7591vw, 1.999rem);
    --fs-600: clamp(1.9531rem, 1.7056rem + 1.2375vw, 2.6647rem);
    --fs-700: clamp(2.4414rem, 2.0551rem + 1.9315vw, 3.552rem);
    --fs-800: clamp(3.0518rem, 2.4663rem + 2.9271vw, 4.7348rem);
    --fs-xl: clamp(3.8147rem, 2.9462rem + 4.3423vw, 6.3115rem);

    --font-family-main: "Manrope", helvetica, arial, sans-serif;
    --font-family-logo: "Amanojaku";
    --font-family-headings: "Exo2";
}

.light-mode {
    --clr-primary-background: hsla(210, 60%, 90%, 1);
    --clr-secondary-background: hsla(210, 40%, 82%);
    --clr-skills-bg: hsla(210, 40%, 75%, 1);

    --clr-card-bg: hsla(210, 40%, 82%, 0.6);

    --clr-primary-text: hsl(210, 20%, 10%);
    --clr-secondary-text: hsl(210, 10%, 30%);
    --clr-accent-text: hsl(210, 60%, 45%);

    --clr-primary-btn: radial-gradient(
    ellipse at bottom,
    hsla(210, 50%, 75%, 1) 0%,
    hsla(210, 50%, 65%, 1) 100%
    );
    --clr-primary-btn-hover: radial-gradient(
    ellipse at bottom,
    hsla(210, 50%, 72%, 1) 0%,
    hsla(210, 50%, 62%, 1) 100%
    );

    --clr-secondary-btn: radial-gradient(
    ellipse at bottom,
    hsla(210, 40%, 60%, 1) 0%,
    hsla(210, 40%, 50%, 1) 100%
    );
    --clr-secondary-btn-hover: radial-gradient(
    ellipse at bottom,
    hsla(210, 40%, 50%, 1) 0%,
    hsla(210, 40%, 40%, 1) 100%
    );

    --clr-header-bg: hsla(210, 40%, 20%, 0.35);

    --clr-hero-bg: radial-gradient(
    ellipse at bottom,
    hsla(210, 60%, 90%, 1) 0%,
    hsla(210, 50%, 80%, 1) 100%
    );

    --clr-boxshadow-hover: hsla(210, 60%, 50%, 1);
    --clr-icon-hover: hsla(210, 60%, 70%, 1);

    --clr-border: hsla(210, 10%, 50%, 0.3);
    --clr-soft-border: hsla(210, 10%, 0%, 0.1);
    --clr-card-border-inactive: hsla(210, 10%, 0%, 0.2);
    --clr-card-border-active: hsla(210, 10%, 0%, 0.44);

    --clr-header: hsla(210, 50%, 75%, 0.78);

    --clr-btn-box-shadow: rgba(0,0,0,0.3);
    --clr-btn-box-shadow-hover: rgba(0,0,0,0.4);
    --clr-card-box-shadow-hover: rgba(0,0,0, 0.5);

    --clr-contact-bg: radial-gradient( circle at 0% 0%, #bad5ee, #bad5ee6d);
    --clr-contact-form: #bad5ee;
    --clr-input-bg: var(--clr-primary-background);
    --clr-error: 	hsl(0, 85%, 88%);
}

.skills {
    background-color: var(--clr-secondary-background);
}

.skills-container::before, .skills-container::after {
    box-shadow: 0 0 45px 60px var(--clr-secondary-background);
}

.light-mode header {
    background-color: var(--clr-header);
}

.light-mode .card {
    background-color: var(--clr-card-bg);
}

.light-mode footer {
    background-color: var(--clr-header);
}

.light-mode .circle-1 {
    box-shadow: -2px 0px 40px 3px rgba(255,255,255,0.7);
}

.light-mode .circle-2 {
    opacity: 0.22;
}

.light-mode .circle-3 {
    opacity: 0.4;
}

.light-mode .contact-form {
    border: solid 3px var(--clr-soft-border);
}

.light-mode .contact-form:has(input:focus, textarea:focus) {
    border: solid 3px var(--clr-border);
    box-shadow: 0 0 10px 0px var(--clr-btn-box-shadow-hover);
}

.light-mode .highlight {
    color: var(--clr-primary-background);
}

.light-mode .toggle-menu {
    filter: invert(100%);
}

.light-mode header nav ul {
    @media (max-width: 780px){
        background: hsla(210, 60%, 90%, 0.9);
    }
}

.light-mode .toggle-theme {
    background: none;

    background: url("../img/Cloud-a.svg") 48% 90% / 40% 40% no-repeat,
        url("../img/Cloud-b.svg") 60% 10% / 35% 35% no-repeat,
        url("../img/Cloud-c.svg") 98% 38% / 27% 27% no-repeat,
        linear-gradient(100deg, hsla(210, 50%, 85%, 1) 0%, hsla(210, 45%, 70%, 1) 100%);
}

.light-mode .toggle-theme div {
    right: calc(100% - 30px);
    background: url("../img/Sun.svg") center center / contain no-repeat;
    transition: all 300ms ease-in;
}

@keyframes float-circle-1 {
    0% {
        top: 20%;  
    }
    50% {
        top: 30%;
    }
    100% {
        top: 20%;
    }
}

@keyframes float-circle-1-phone {
    0% {
        top: 15%
    }
    50% {
        top: 25%;
    }
    100% {
        top: 15%;
    }
}

@keyframes float-circle-2 {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95);
    }
}

@keyframes float-circle-3 {
    0% {
        top: 7%;
        left: 20%;
    }
    25% {
        top: 18%;
        left: 17%;
    }
    50% {
        top: 20%;
        left: 26%;
    }
    75% {
        top: 7%;
        left: 36%;
    }
    100% {
        top: 7%;
        left: 20%;
    }
}

@keyframes float-circle-3-phone {
    0% {
        top: 7%;
        left: 20%;
    }
    50% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.7);
    }
}


@keyframes auto-scroll {

    100% {
        transform: translateX(calc((var(--n-skills)) * -100%)) translateX(calc(-12px * var(--n-skills)));
    }
}
