.contact {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-inline: auto;
    margin-bottom: 0;
    padding: 50px 70px;
    gap: 20px;
    width: 100%;
    background-color: var(--clr-secondary-background);

    @media only screen and (width < 780px) {
        grid-template-columns: repeat(1, 1fr);
    }

    @media only screen and (width < 1200px) {
        padding: 50px 30px;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    width: 92%;
    margin: auto;
    gap: 20px;
    background: var(--clr-contact-form);
    padding: 50px 20px;
    border-radius: 24px;
    backdrop-filter: blur(20px);
    border: solid 1px var(--clr-soft-border);
    transition: all 400ms;
    outline: none;

    @media only screen and (width < 780px) {
        padding-block: 35px;
    }

    @media only screen and (width < 1200px) {
        width: 100%;
    }
}

.contact-form:has(input:focus, textarea:focus) {
    border: solid 1px var(--clr-border);
    transition: all 400ms;
}

.contact-form::after {
    content: "";
    border-radius: inherit;
    position: absolute;
    inset: 0;
    background: var(--clr-contact-bg);
    z-index: -1;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    color: var(--clr-primary-text);
    font-size: var(--fs-400);
    font-family: inherit;
}

input[type=email], input[type=text], textarea {
    background-color: var(--clr-input-bg);
    border: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: 800;
    width: 100%;
    border-radius: 22px;
    color: var(--clr-primary-text);
}

input[type=email]:focus, input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 20px -5px var(--clr-btn-box-shadow-hover);
    outline: solid 1px var(--clr-border);
}

input[type=email], input[type=text] {
    height: 45px;
    padding: 10px 15px;
}

textarea {
    height: 120px;
    padding: 15px;
}

input[type=submit] {
    width: 200px;
    border-radius: 22px;
    margin-top: 5px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: var(--fs-700);
}

.info i {
    transition: color 250ms;
}

.info i:hover {
    color: var(--clr-icon-hover);
    transition: color 250ms;
}

.form-error-msg {
    display: none;
    color: var(--clr-primary-text);
    font-family: inherit;
    background-color: var(--clr-error);
    border-radius: 22px;
    padding: 10px 15px;
    font-size: var(--fs-200);
}

.form-group.touched:has(input:invalid) .form-error-msg,
.form-group.touched:has(textarea:invalid) .form-error-msg {
    display: block;
}

.form-group.touched:has(input:invalid) input,
.form-group.touched:has(textarea:invalid) textarea{
    border: solid 2px var(--clr-error);
}
